asgiref==3.6.0
debtcollector==2.5.0
Django==4.1.7
django-notifications==0.1.dev0
frozendict==2.3.6
futurist==2.4.1
iso8601==1.1.0
netaddr==0.8.0
netifaces==0.11.0
notification==0.2.1
notifier==1.0.3
oslo.i18n==6.0.0
oslo.utils==6.1.0
packaging==23.0
pbr==5.11.1
Pillow==9.4.0
pyparsing==3.0.9
pytz==2023.2
six==1.16.0
sqlparse==0.4.3
wrapt==1.15.0

plyer~=2.1.0